
<div class="main">
    <div class="box-title">
        <h1 class="title">PAMAUTO</h1>
        <h3>RENT</h3>
    </div>    
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="box-item">
                    <div class="box-image"></div>
                    <div class="box-text">
                        <span>ALQUILER DE AUTOCARAVANAS</span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="box-item">
                    <div class="box-image"></div>
                    <div class="box-text">
                        <span>ALQUILER DE COCHES VINAGE</span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="box-item">
                    <div class="box-image"></div>
                    <div class="box-text">
                        <span>COMPRAR COCHES</span>
                    </div>
                </div>
            </div>

            <!--APP-CARAVANAS-->
            <!--APP-COCHES VINTAGE-->
            <!--APP-COMPRAR COCHES-->
        </div>
    </div>
</div>
<div class="background"></div>